
{% if username%}
  <h1>Hash tag is {{username}}</h1>
{% endif %}
{%if form%}
  {{ form.hidden_tag() }}
  <form method="POST" action= "{{ url_for('hello') }}" >          
  {{ form.tag.label}}  {{form.tag}}
  {{form.submit}}
  </form>
{% endif %}



{% if my_senti%}
  {{my_senti}}
{% endif %}
<br>



{% if full_filename%}
  {{full_filename}}
   <img src="{{full_filename}}" alt="User Image"  width="500" height="500">
{% endif %}

<br>
{% if graph%}
  {{graph}}
   <img src="{{graph}}" alt="gRaph Image"  width="500" height="500">
  
{% endif %}
